
@{
    ViewBag.Title = "AddEditProduct";
}

<div class="row">
    <div class="col-md-12" id="VenderProcduct">
        <input type="hidden" id="ProductId" name="ProductId" />
        <table class="table" >
            <tr>
                <td>
                    @Html.Label("Product Name")
                </td>
                <td>
                    <input type="text" id="ProductName" name="ProductName" />
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Quantity")
                </td>

                <td>
                    <input type="number" id="Quantity" name="Quantity" min="1" max="10"/>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Per Item Price")
                </td>
                <td>
                    <input type="number" id="PerItemPrice" name="PerItemPrice" step=".01"min="0" max="10"/>
                </td>
            </tr>
        </table>
    </div>
</div>


