
@{
    ViewBag.Title = "Index";
}

<h2>Thank You: Enjoy</h2>

<script>
    $(document).ready(function () {
        setTimeout(
            function() 
            {
                
            }, 50000);
        self.back = function() {
            window.location.href = '@Url.Action("User", "VenderMachine")';
        }
    });
    
</script>